<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body{%- if bodyClass %} class="{{ bodyClass }}"{%- endif -%}>
    <div class="wrapper">{{ content | safe }}</div>
</body>
</html>
