---
layout: layouts/home.njk
title: Alex Ezell
description: Website for author and 97% human being, Alex Ezell.
bodyClass: home
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Hello, Netizen!</h1>

<h4>Welcome to the website of Alex Ezell</h4>

<p>This feels like you're going back in time. I know, right?</p>

<p>I am an author with a blog and a novel and several plays in the works. That's the least descriptive description I could think of.</p>
<p><a href="https://micro.alexezell.com" style="font-size: 24px">Check out the Blog</a></p>
